* {
    background-color: rgb(250, 243, 234);
    font-family: Arial, Helvetica, sans-serif '
}

body {
    background-color: rgba(245, 245, 245, 0) ;
    color: #333;
}
.navbar {
    display: flex;
    text-align: center;
    padding: 20px 60px;
   
}

.name {
    font-size: 39px;
    font-weight: bold;
    color: #333;
}

.name .r {
    color: #7267da;
}
.nav-links {
    display: flex;
    gap: 40px;
    
}

.nav-links li a {
    text-decoration: none;
    color: #130f14;
    font-size: 20px;
    font-weight: bold;
}

.nav-links li a:hover {
    color: #1966c5;
}
.photo{
    border-radius: 50%;
    height: 310px;
    width: 310px;
    align-items: center;   
    background-color: blue;
  transition: transform 0.3s ease;
    cursor: pointer;
}
.photo:hover{
    transform: scale(1.2);
}
.pic{
    justify-items: auto;
    text-align: center;
    padding: auto;

}
.welcome{
  border: 3px solid black;  
  padding: 15px;             

}
.footer{
    text-align: center;
    padding: 4px;
    font-weight: bolder;
    background-color: #766e6e;
}
.p1
{
    font-size: medium;
    font-weight: bold;
}
  .link{
        font-size: 19   px;
        color: black;
        display: inline-block;
        transition: color 2.0s, letter-spacing 0.5s, transform 2.0s;
    }
    .link:hover {
        color: red;
        letter-spacing: 2px;
        transform: scale(2.1);
        text-decoration: none;
    }

.main-para{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: bolder;
}
.div-1{

    padding: 10px;
    font-size: large;
}
.div-1:hover{
    color: #eb5f6d;
    
}
.git{
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
.img-link{
    display: flex;
    
}
.proje{
        font-size: larger;
        
    }
.proje:hover{
        background-color: rgb(45, 42, 38);
        color: rgb(27, 157, 157);
    }